.animation{
  animation:moveInLeft 1.75s ease-in-out;
}
body{
  overflow-x: hidden;
}
 
@keyframes moveInLeft {
  0% {
  opacity:0;
  transform:translateX(-120px)
  }
  
  100% {
  opacity:1;
  transform:translate(0)
  }
  
  80% {
  opacity:.8;
  transform:translateX(10px)
  }
  }
  .animationRight{
      animation:moveInRight 1.75s ease-in-out;
  }
  @keyframes moveInRight {
      0% {
      opacity:0;
      transform:translateX(120px)
      }
      
      100% {
      opacity:1;
      transform:translate(0)
      }
      
      80% {
      opacity:.8;
      transform:translateX(-10px)
      }
      }
.buttonAnimation{
  animation:moveInBottom 1.75s ease-in-out;
}
      @keyframes moveInBottom {
          0% {
          opacity:0;
          transform:translateY(120px)
          }
          
          100% {
          opacity:1;
          transform:translate(0)
          }
          
          80% {
          opacity:.8;
          transform:translateY(-10px)
          }
          }
          
          .close-icon {
          transition:transform 0.25s,opacity .25s
          }
          
          .close-icon:hover {
          transform:rotate(90deg)
          }
